extend page

block title
  title #{title.text}

block meta
  meta(name="keywords"        content=tags.text)
  meta(name="description"     content=title.text)
  meta(name="og:url"          content=url)
  meta(name="og:title"        content=title.text)
  meta(name="og:description"  content=tags.text)
  <!—- ShareThis BEGIN -—>
  script(async src="https://platform-api.sharethis.com/js/sharethis.js#property=5d2f8fb7735046001257ffab&product='sticky-share-buttons'")
  <!—- ShareThis END -—>

block header
  header(class="no-cover flex-header")
    div(class="to-main-page")
      i(class="fa fa-chevron-left")
      a(href="/") Main page
    div(class="profile")
      img(src="https://www.gravatar.com/avatar/4ef97675943e8fe05f61adb948e42ef0?s=160" width="50" height="50")
      nav
        ul
          li
            a(href="/about/") About
block content
  if relatedPosts
    div(class="related-posts")
      div
        span(class="header") Related posts
        ul
          - var count = 0;
          each val, post in relatedPosts[article.url]
            if count < 5
              li
                a(href=`${post}`)= " " + val.title + " "
            - count++;
      div(class="right-banner")
        include google_adsense_right_article_banner
  article
    div(class="top-banner")
      include google_adsense_top_article_banner
    | !{title.html}
    if date
      i(class="fa fa-calendar"): time !{date.text}
    br
    if tags
      i(class="fa fa-tags")
        each tag in tags.list
            a(href=`/tags/index.html#${tag}`)= " " + tag + " "
    | !{content.html}