extend page

block title
  title #{title.text}

block meta
  meta(property="description" content=tags.text)
  meta(name="og:url"          content=url)
  meta(name="og:title"        content=title.text)
  meta(name="og:description"  content=tags.text)

block content
  article
    | !{title.html}
    if date
      i(class="fa fa-calendar"): time !{date.text}
    br
    if tags
      i(class="fa fa-tags")
        each tag in tags.list
            a(href=`/tags/index.html#${tag}`)= " " + tag + " "
    | !{content.html}