<!-- Google Adsense -->
script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
<!-- google_adsense_bottom_article_banner -->
ins(
  class="adsbygoogle"
  style="display:block"
  data-ad-client="ca-pub-2866912874659895"
  data-ad-slot="2846418099"
  data-ad-format="auto"
  data-full-width-responsive="true"
)
script
  | (adsbygoogle = window.adsbygoogle || []).push({});
<!-- /Google Adsense -->
