<!-- Google Adsense -->
script(async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5911768621562708" crossorigin="anonymous")
<!-- google_adsense_right_article_banner -->
ins(
  class="adsbygoogle"
  style="display:block"
  data-ad-client="ca-pub-5911768621562708"
  data-ad-slot="3612504428"
  data-ad-format="auto"
)
script
  | (adsbygoogle = window.adsbygoogle || []).push({});
<!-- /Google Adsense -->
