extend page

block title
  title Aleksandr Filatov

block meta
  meta(property="description" content=site.description)
  meta(name="og:url"          content=site.site_url)
  meta(name="og:title"        content=site.title)
  meta(name="og:description"  content=site.description)

block content
  h1
    a(href="/") Aleksandr Filatov
  
  nav
    a(href="/about/") About
    = " | "
    a(href="/rss.xml") RSS
    = " | "
    a(target="_blank" href="https://twitter.com/greybax") Twitter
    = " | "
    a(target="_blank" href="https://github.com/greybax") GitHub
    = " | "
    a(target="_blank" href="https://www.linkedin.com/in/aleksandr-filatov-66b60889") LinkedIn
    form(style="float: right" id="srchForm")
        input(type="text" id="srchInput" placeholder="search 'smth'" )
  br
  
  article
    ul.list
      each article in list
        li.list__item
          a(href=article.url)= article.title.text
            time= article.date.text + " "
          p.list__item-tags !{article.desc.html}