extend page

block meta
  meta(property="description" content=site.description)
  meta(name="og:url"          content=site.site_url)
  meta(name="og:title"        content=site.title)
  meta(name="og:description"  content=site.description)

block content
  h1
    a(href="/") Aleksandr Filatov
  
  nav
    a(href="/about/") About
    = " • "
    a(href="/rss.xml") Subscribe to RSS
    = " • "
    a(href="https://google.com/?q=site:alfilatov.com+smth") Search "smth"
    br
    a(href="https://twitter.com/greybax") Follow me on Twitter
  br
  
  article.tags
    each tag in tags
      h2
        a(href='##{tag}' name=tag)= tag
      ul.list
        each article in tagMap.get(tag)
          li.list__item
            a(href=article.url)= article.name